USE [master]
GO
/****** Object:  Database [DETAI2]    Script Date: 12/2/2021 12:18:01 AM ******/
CREATE DATABASE [DETAI2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DETAI2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DETAI2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DETAI2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DETAI2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DETAI2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DETAI2]
GO
/****** Object:  Table [dbo].[BANGPHI]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGPHI](
	[MALP] [varchar](5) NOT NULL,
	[MOTA] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_BANGPHI] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_MOTA] UNIQUE NONCLUSTERED 
(
	[MOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONGTYCHUNGKHOAN]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONGTYCHUNGKHOAN](
	[MACTCK] [char](3) NOT NULL,
	[TENCTCK] [nvarchar](250) NOT NULL,
	[DIACHI] [nvarchar](250) NULL CONSTRAINT [DF_CONGTYCHUNGKHOAN_DIACHI]  DEFAULT (''),
 CONSTRAINT [PK_CONGTYCHUNGKHOAN] PRIMARY KEY CLUSTERED 
(
	[MACTCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENCTCK] UNIQUE NONCLUSTERED 
(
	[TENCTCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COPHIEU]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COPHIEU](
	[MACP] [varchar](6) NOT NULL,
	[CONGTY] [nvarchar](250) NOT NULL,
	[DIACHI] [nvarchar](250) NULL,
	[SDT] [varchar](15) NULL,
	[FAX] [varchar](15) NULL,
	[WEBSITE] [varchar](50) NULL,
	[SOLUONGCP] [int] NULL CONSTRAINT [DF_COPHIEU_SOLUONGCP]  DEFAULT ((0)),
	[EMAIL] [varchar](50) NULL,
	[MASGD] [varchar](5) NOT NULL,
 CONSTRAINT [PK_COPHIEU] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_CONGTY] UNIQUE NONCLUSTERED 
(
	[CONGTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIACP]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIACP](
	[MACP] [varchar](6) NOT NULL,
	[NGAY] [date] NOT NULL CONSTRAINT [DF_GIACP_NGAY]  DEFAULT (getdate()),
	[GIASAN] [float] NULL CONSTRAINT [DF_GIACP_GIASAN]  DEFAULT ((0)),
	[GIATHAMCHIEU] [float] NULL CONSTRAINT [DF_GIACP_GIATHAMCHIEU]  DEFAULT ((0)),
	[GIADONGCUA] [float] NULL CONSTRAINT [DF_GIACP_GIADONGCUA]  DEFAULT ((0)),
	[GIATRAN] [float] NULL CONSTRAINT [DF_GIACP_GIATRAN]  DEFAULT ((0)),
 CONSTRAINT [PK_GIACP] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[IDLD] [int] NOT NULL,
	[LOAIGD] [nvarchar](5) NOT NULL CONSTRAINT [DF_LENHDAT_LOAIGD]  DEFAULT (N'Mua'),
	[SOLUONGDAT] [int] NULL,
	[GIADAT] [float] NULL,
	[NGAYGIO] [datetime] NULL CONSTRAINT [DF_LENHDAT_NGAYGIO]  DEFAULT (getdate()),
	[MATKNH] [varchar](20) NOT NULL,
	[MALL] [varchar](5) NOT NULL,
	[MACP] [varchar](6) NOT NULL,
	[MATT] [int] NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[IDLD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDLK] [int] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL CONSTRAINT [DF_LENHKHOP_SOLUONGKHOP]  DEFAULT ((0)),
	[GIAKHOP] [float] NOT NULL CONSTRAINT [DF_LENHKHOP_GIAKHOP]  DEFAULT ((0)),
	[TIMEKHOP] [datetime] NOT NULL CONSTRAINT [DF_LENHKHOP_TIMEKHOP]  DEFAULT (getdate()),
	[IDLD] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHUNG]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LENHUNG](
	[IDLU] [nchar](5) NOT NULL,
	[NGAYBAN] [date] NULL,
	[MATKNH] [varchar](20) NULL,
	[NGAYYC] [date] NOT NULL CONSTRAINT [DF_LENHUNG_NGAYYC]  DEFAULT (getdate()),
	[SOTIENUNG] [float] NOT NULL CONSTRAINT [DF_LENHUNG_SOTIENUNG]  DEFAULT ((0)),
	[IDPHI] [varchar](5) NOT NULL,
 CONSTRAINT [PK_LENHUNG] PRIMARY KEY CLUSTERED 
(
	[IDLU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAILENH]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAILENH](
	[MALL] [varchar](5) NOT NULL,
	[LOAILENH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAILENH] PRIMARY KEY CLUSTERED 
(
	[MALL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENLOAILENH] UNIQUE NONCLUSTERED 
(
	[LOAILENH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[MANH] [varchar](10) NOT NULL,
	[TENNH] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_NGANHANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENNH] UNIQUE NONCLUSTERED 
(
	[TENNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHADAUTU]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHADAUTU](
	[MANDT] [varchar](10) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[PHAI] [nvarchar](3) NULL CONSTRAINT [DF_NHADAUTU_PHAI]  DEFAULT (N'Nam'),
	[DIACHI] [nvarchar](80) NULL,
	[EMAIL] [varchar](50) NULL,
	[CMND/PASSPORT] [varchar](12) NOT NULL,
	[NGAYCAP] [date] NULL,
	[QUOCGIA] [nvarchar](50) NULL CONSTRAINT [DF_NHADAUTU_QUOCGIA]  DEFAULT (N'Trong nước'),
	[MKGIAODICH] [varchar](32) NOT NULL,
	[MKDATLENH] [varchar](32) NOT NULL,
	[MACTCK] [char](3) NOT NULL,
 CONSTRAINT [PK_NHADAUTU] PRIMARY KEY CLUSTERED 
(
	[MANDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_CMNDPASSPORT] UNIQUE NONCLUSTERED 
(
	[CMND/PASSPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[MAQD] [varchar](20) NOT NULL,
	[MOTA] [nvarchar](50) NULL CONSTRAINT [DF_QUYDINH_MOTA]  DEFAULT (''),
	[MASGD] [varchar](5) NOT NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MAQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANGIAODICH]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANGIAODICH](
	[MASGD] [varchar](5) NOT NULL,
	[TENSGD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANGIAODICH] PRIMARY KEY CLUSTERED 
(
	[MASGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENSGD] UNIQUE NONCLUSTERED 
(
	[TENSGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOHUU]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOHUU](
	[MANDT] [varchar](10) NOT NULL,
	[MACP] [varchar](6) NOT NULL,
	[SOLUONG] [int] NULL CONSTRAINT [DF_SOHUU_SOLUONG]  DEFAULT ((0)),
 CONSTRAINT [PK_SOHUU] PRIMARY KEY CLUSTERED 
(
	[MANDT] ASC,
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOANNGANHANG]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOANNGANHANG](
	[MATKNH] [varchar](20) NOT NULL,
	[SODU] [money] NULL CONSTRAINT [DF_TAIKHOANGNGANHANG_SODU]  DEFAULT ((0)),
	[MANDT] [varchar](10) NOT NULL,
	[MANH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOANGNGANHANG] PRIMARY KEY CLUSTERED 
(
	[MATKNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAYDOIPHI]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THAYDOIPHI](
	[MALP] [varchar](5) NOT NULL,
	[MACTCK] [char](3) NOT NULL,
	[NGAYAPDUNG] [date] NOT NULL CONSTRAINT [DF_THAYDOIPHI_NGAYAPDUNG]  DEFAULT (getdate()),
	[PHANTRAMPHI] [float] NOT NULL CONSTRAINT [DF_THAYDOIPHI_PHANTRAMPHI]  DEFAULT ((0)),
 CONSTRAINT [PK_THAYDOIPHI] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC,
	[MACTCK] ASC,
	[NGAYAPDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAYDOIQD]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THAYDOIQD](
	[MAQD] [varchar](20) NOT NULL,
	[NGAYAPDUNG] [date] NOT NULL CONSTRAINT [DF_THAYDOIQD_NGAYAPDUNG]  DEFAULT (getdate()),
	[GIATRI] [float] NOT NULL CONSTRAINT [DF_THAYDOIQD_GIATRI]  DEFAULT ((0)),
 CONSTRAINT [PK_THAYDOIQD] PRIMARY KEY CLUSTERED 
(
	[MAQD] ASC,
	[NGAYAPDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MATT] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENTRANGTHAI] UNIQUE NONCLUSTERED 
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_COPHIEU_SANGIAODICH] FOREIGN KEY([MASGD])
REFERENCES [dbo].[SANGIAODICH] ([MASGD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [FK_COPHIEU_SANGIAODICH]
GO
ALTER TABLE [dbo].[GIACP]  WITH CHECK ADD  CONSTRAINT [FK_GIACP_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIACP] CHECK CONSTRAINT [FK_GIACP_COPHIEU]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_COPHIEU]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_LOAILENH] FOREIGN KEY([MALL])
REFERENCES [dbo].[LOAILENH] ([MALL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_LOAILENH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TAIKHOANGNGANHANG] FOREIGN KEY([MATKNH])
REFERENCES [dbo].[TAIKHOANNGANHANG] ([MATKNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TAIKHOANGNGANHANG]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TRANGTHAI] FOREIGN KEY([MATT])
REFERENCES [dbo].[TRANGTHAI] ([MATT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TRANGTHAI]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLD])
REFERENCES [dbo].[LENHDAT] ([IDLD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [FK_LENHUNG_BANGPHI] FOREIGN KEY([IDPHI])
REFERENCES [dbo].[BANGPHI] ([MALP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [FK_LENHUNG_BANGPHI]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [FK_LENHUNG_TAIKHOANGNGANHANG] FOREIGN KEY([MATKNH])
REFERENCES [dbo].[TAIKHOANNGANHANG] ([MATKNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [FK_LENHUNG_TAIKHOANGNGANHANG]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [FK_NHADAUTU_CONGTYCHUNGKHOAN] FOREIGN KEY([MACTCK])
REFERENCES [dbo].[CONGTYCHUNGKHOAN] ([MACTCK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [FK_NHADAUTU_CONGTYCHUNGKHOAN]
GO
ALTER TABLE [dbo].[QUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_QUYDINH_SANGIAODICH] FOREIGN KEY([MASGD])
REFERENCES [dbo].[SANGIAODICH] ([MASGD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUYDINH] CHECK CONSTRAINT [FK_QUYDINH_SANGIAODICH]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_COPHIEU]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_NHADAUTU] FOREIGN KEY([MANDT])
REFERENCES [dbo].[NHADAUTU] ([MANDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_NHADAUTU]
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANGNGANHANG_NGANHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NGANHANG] ([MANH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG] CHECK CONSTRAINT [FK_TAIKHOANGNGANHANG_NGANHANG]
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANGNGANHANG_NHADAUTU] FOREIGN KEY([MANDT])
REFERENCES [dbo].[NHADAUTU] ([MANDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG] CHECK CONSTRAINT [FK_TAIKHOANGNGANHANG_NHADAUTU]
GO
ALTER TABLE [dbo].[THAYDOIPHI]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIPHI_BANGPHI] FOREIGN KEY([MALP])
REFERENCES [dbo].[BANGPHI] ([MALP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAYDOIPHI] CHECK CONSTRAINT [FK_THAYDOIPHI_BANGPHI]
GO
ALTER TABLE [dbo].[THAYDOIPHI]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIPHI_CONGTYCHUNGKHOAN] FOREIGN KEY([MACTCK])
REFERENCES [dbo].[CONGTYCHUNGKHOAN] ([MACTCK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAYDOIPHI] CHECK CONSTRAINT [FK_THAYDOIPHI_CONGTYCHUNGKHOAN]
GO
ALTER TABLE [dbo].[THAYDOIQD]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIQD_QUYDINH] FOREIGN KEY([MAQD])
REFERENCES [dbo].[QUYDINH] ([MAQD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAYDOIQD] CHECK CONSTRAINT [FK_THAYDOIQD_QUYDINH]
GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGCP] CHECK  (([SOLUONGCP]>(0)))
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [CK_SOLUONGCP]
GO
ALTER TABLE [dbo].[GIACP]  WITH CHECK ADD  CONSTRAINT [CK_GIACP] CHECK  (([GIASAN]>(0)))
GO
ALTER TABLE [dbo].[GIACP] CHECK CONSTRAINT [CK_GIACP]
GO
ALTER TABLE [dbo].[GIACP]  WITH CHECK ADD  CONSTRAINT [CK_GIADONGCUA] CHECK  (([GIADONGCUA]>(0)))
GO
ALTER TABLE [dbo].[GIACP] CHECK CONSTRAINT [CK_GIADONGCUA]
GO
ALTER TABLE [dbo].[GIACP]  WITH CHECK ADD  CONSTRAINT [CK_GIASAN] CHECK  (([GIASAN]>=(0)))
GO
ALTER TABLE [dbo].[GIACP] CHECK CONSTRAINT [CK_GIASAN]
GO
ALTER TABLE [dbo].[GIACP]  WITH CHECK ADD  CONSTRAINT [CK_GIATRAN] CHECK  (([GIATRAN]>(0) AND [GIATRAN]>=[GIASAN]))
GO
ALTER TABLE [dbo].[GIACP] CHECK CONSTRAINT [CK_GIATRAN]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_GIADAT] CHECK  (([GIADAT]>=(0)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_GIADAT]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]=N'Mua' OR [LOAIGD]=N'Bán'))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGDAT] CHECK  (([SOLUONGDAT]>=(10)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_SOLUONGDAT]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [CK_GIAKHOP] CHECK  (([GIAKHOP]>=(0)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [CK_GIAKHOP]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGKHOP] CHECK  (([SOLUONGKHOP]>=(0)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [CK_SOLUONGKHOP]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [CK_NGAYYC] CHECK  (([NGAYYC]>=[NGAYBAN] AND datepart(day,[NGAYYC])<=(datepart(day,[NGAYBAN])+(2))))
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [CK_NGAYYC]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENUNG] CHECK  (([SOTIENUNG]>(0)))
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [CK_SOTIENUNG]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [CK_NGAYSINH] CHECK  (((datepart(year,getdate())-datepart(year,[NGAYSINH]))>=(18)))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [CK_NGAYSINH]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [CK_QUOCGIA] CHECK  (([QUOCGIA]=N'Trong nước' OR [QUOCGIA]=N'Nước ngoài'))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [CK_QUOCGIA]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [CK_SOUONG] CHECK  (([SOLUONG]>=(0)))
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [CK_SOUONG]
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG]  WITH CHECK ADD  CONSTRAINT [CK_SODU] CHECK  (([SODU]>(0)))
GO
ALTER TABLE [dbo].[TAIKHOANNGANHANG] CHECK CONSTRAINT [CK_SODU]
GO
ALTER TABLE [dbo].[THAYDOIPHI]  WITH CHECK ADD  CONSTRAINT [CK_THAYDOIPHI] CHECK  (([PHANTRAMPHI]>=(0)))
GO
ALTER TABLE [dbo].[THAYDOIPHI] CHECK CONSTRAINT [CK_THAYDOIPHI]
GO
ALTER TABLE [dbo].[THAYDOIQD]  WITH CHECK ADD  CONSTRAINT [CK_GIATRI] CHECK  (([GIATRI]>=(0)))
GO
ALTER TABLE [dbo].[THAYDOIQD] CHECK CONSTRAINT [CK_GIATRI]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAUA]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAUA]
@NDT varchar(10)
AS
BEGIN
	SELECT DISTINCT MACP,GIAKHOP,TIMEKHOP
	INTO #BANGKHOP
	FROM LENHKHOP LK INNER JOIN LENHDAT LD ON LK.IDLD=LD.IDLD
	WHERE CAST(TIMEKHOP AS DATE)=CAST(GETDATE() AS DATE)
	-----
	SELECT BK.MACP,GIAKHOP,TIMEKHOP 
	INTO #GIACP
	FROM #BANGKHOP BK INNER JOIN (
		SELECT MACP, MAX(TIMEKHOP) AS MAXDATE
		FROM #BANGKHOP
		GROUP BY MACP
	) FT ON BK.MACP=FT.MACP AND BK.TIMEKHOP=FT.MAXDATE
	---
	SELECT  MANDT,SH.MACP, SOLUONG, DONGIA=ISNULL(#GIACP.GIAKHOP,0 ), 
		TRIGIA=ISNULL(#GIACP.GIAKHOP*SOLUONG,0)
	FROM SOHUU SH INNER JOIN #GIACP ON SH.MACP=#GIACP.MACP
	WHERE SH.MANDT=@NDT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAUB]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAUB]
@NDT varchar(10),
@TUNGAY DATE, @DENNGAY DATE
AS
SET DATEFORMAT DMY
BEGIN
	SELECT MATKNH 
	INTO #TKNH
	 FROM TAIKHOANNGANHANG WHERE MANDT=@NDT
	 -----
	SELECT NGAYGIOKHOP=TIMEKHOP, MACP, LOAIGIAODICH=LOAIGD, LOAILENH=MALL, SOLUONGKHOP, GIAKHOP
	FROM LENHDAT INNER JOIN #TKNH ON LENHDAT.MATKNH=#TKNH.MATKNH,
	(
	SELECT * FROM LENHKHOP WHERE LENHKHOP.TIMEKHOP >=@TUNGAY AND LENHKHOP.TIMEKHOP<=@DENNGAY
	) LENHKHOP
	WHERE LENHDAT.IDLD=LENHKHOP.IDLD 
	ORDER BY TIMEKHOP ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAUC]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAUC](
@NDT varchar(10),
@NGAY DATE)
AS
SET DATEFORMAT DMY
BEGIN
	SELECT MATKNH 
	INTO #TKNH
	FROM TAIKHOANNGANHANG WHERE MANDT=@NDT
	SELECT MACP, LOAILENH=MALL,GIODAT=NGAYGIO, LENHDAT.SOLUONGDAT, LENHDAT.GIADAT, TRANGTHAI=TRANGTHAI.TRANGTHAI
		, SOLUONGKHOP=(CASE WHEN LENHDAT.IDLD=LENHKHOP.IDLD THEN LENHKHOP.SOLUONGKHOP ELSE 0 END)
		,GIAKHOP=(CASE WHEN LENHDAT.IDLD=LENHKHOP.IDLD THEN LENHKHOP.GIAKHOP ELSE 0 END)
	FROM TRANGTHAI,
		(SELECT * FROM LENHDAT 
		WHERE LENHDAT.MATKNH IN (SELECT MATKNH FROM #TKNH) 
		) LENHDAT LEFT JOIN LENHKHOP ON LENHDAT.IDLD=LENHKHOP.IDLD
	WHERE TRANGTHAI.MATT=LENHDAT.MATT AND CAST(NGAYGIO AS DATE)=@NGAY
	ORDER BY LENHKHOP.TIMEKHOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAUD]    Script Date: 12/2/2021 12:18:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAUD]
 AS
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	SELECT SOLUONGKHOP, GIATRI=SOLUONGKHOP*GIAKHOP, TK.MATKNH MATKNH, MACP,MANDT
	INTO #BANGCAPNHAT
	FROM LENHKHOP LK INNER JOIN LENHDAT LD ON LK.IDLD=LD.IDLD, TAIKHOANNGANHANG TK
	WHERE CAST((TIMEKHOP+2) AS DATE)=CAST(GETDATE() AS DATE) AND TK.MATKNH=LD.MATKNH
	--cập nhật tiền dô tài khoảng ngân hàng
	UPDATE TAIKHOANNGANHANG SET SODU= GIATRI+SODU FROM (
		SELECT DISTINCT MATKNH, GIATRI=(SUM(GIATRI)) 
		FROM #BANGCAPNHAT BCN
		GROUP BY MATKNH) TONG
	WHERE TAIKHOANNGANHANG.MATKNH=TONG.MATKNH
	--cập nhật soluong co phieu dang sơ hữu
	UPDATE SOHUU SET SOLUONG=SOLUONGKHOP+SOLUONG 
	FROM (
		SELECT DISTINCT MANDT,MACP, SOLUONGKHOP=(SUM(SOLUONGKHOP)) 
		FROM #BANGCAPNHAT BCN
		GROUP BY MANDT,MACP) TONG
	WHERE SOHUU.MANDT=TONG.MANDT AND SOHUU.MACP=TONG.MACP
	--thêm cổ phiếu mà nhà đầu tư không có---
	INSERT INTO SOHUU(MANDT, MACP,SOLUONG )
		SELECT DISTINCT BCN.MANDT MANDT ,BCN.MACP MACP ,SOLUONG=SUM(BCN.SOLUONGKHOP)
		FROM SOHUU SH RIGHT JOIN #BANGCAPNHAT BCN ON SH.MANDT=BCN.MANDT AND SH.MACP=BCN.MACP
		WHERE SH.MACP IS NULL AND SH.MANDT IS NULL
		GROUP BY BCN.MACP, BCN.MANDT
	COMMIT
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
   RAISERROR(@ErrorMessage, 16, 1)
END CATCH


GO
USE [master]
GO
